.body {
    width: 50%;
    margin: auto; 
    min-width: 350px;
}

.docsTitle {
    cursor: pointer;
    color: orange;
    opacity: 0.75;
    font-weight: bold;
}:target {
    opacity: 1;
    font-weight: bolder;
}

.docsSubTitle {
    cursor: pointer;
    color: orange;
    opacity: 0.6;
    font-weight: bold;
}:target {
    opacity: 1;
    font-weight: bolder;
}

.instruction {
    color: #ffffff;
    opacity: 0.85;
    padding-bottom: 1.5em;
}

.codeBlock {
    padding-left: 5%;
    padding-top: 3%;
}

.codeStyle {
    font-family: monospace;
    color: #e7e7e7;
    opacity: 0.8;
}

.spaceToBottom {
    padding-bottom: 3em;
}

a {
    color: orange;
    opacity: 0.6;
}

a:hover {
    color: orange;
    opacity: 1;
}