.body {
    height: 100%;
    min-height: 100vh;
    background-color: #1c1c1c;
}

.logo {
    padding-top: 5%;
    text-align: center;
    color: #e7e7e7;
    opacity: 0.87;
}

.headline {
    color: #e7e7e7;
    opacity: 0.87;
    text-align: center;
}

.mediumText {
    color: #e7e7e7;
    opacity: 0.6;
    text-align: center;
}

.searchForm {
    width: 50%; 
    margin: auto;
    color: #ffffff !important;
    background-color: #333333 !important;
    border: 0px !important;
    border-radius: 25px !important;
}

.searchLogo {
    color: #ffffff !important;
    background-color: #333333 !important;
    opacity: 0.66;
    border: 0px !important;
    border-radius: 25px !important;
}

.searchForm:focus {
    box-shadow: none !important;
}
