.body {
    height: 100%;
    min-height: 100vh;
    background-color: #1c1c1c;
}

.outputArea {
    font-family: monospace;
    color: #e7e7e7;
}

.row {
    display: flex;
    clear: both;
}

.row:hover {
    opacity: 0.8;
    color: yellow;
}

.row:target {
    background-color: yellow;
    opacity: 0.8;
    color: #000000
}

.line {
    min-width: 5%;
    float: left;
    text-align: right;
    opacity: 0.6;
    cursor: pointer;
    /* Make line numbers non-copyable */
    user-select: none;
}

.content {
    padding-left: 3%;
    text-align: left;
    opacity: 0.87;
}

.emptyRows {
    padding-top: 1%;
    padding-left: 1%;
    text-align: left;
    opacity: 0.87;
}