.body {
    top: 0;
    background-color: #282828;
    z-index: 999;
}

.brand {
    font-size: x-large;
    color: #e7e7e7;
}

.buttons {
    background-color:transparent;
    border: 0px;
    border-radius: 10px;
}