.body {
    min-height: 45px;
    max-height: 70px;
    top: 0;
    background-color: #282828;
    padding: 20px;
    z-index: 999;
}

.brand {
    font-size: x-large;
    color: #e7e7e7;
}

.buttons {
    background-color:transparent;
    border: 0px;
}